/***********Общие стили***********/
body{
	font-family: 'Montserrat', sans-serif;
	min-width: 320px;
	color: #1D1D1D;
}

img{
	max-width: 100%;
	height: auto;
}

section{
	padding: 100px 0;
}

h3{
	font-style: italic;
	font-size: 42px;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

h4{
	font-weight: 600;
	font-size: 44px;
	margin-bottom: 20px;
}

.scrollToTop{
	position: fixed;
	bottom: 45px;
	right: 50px;
	border-radius: 4px;
	display: none;
	font-size: 32px;
	height: 50px;
	width: 50px;
	z-index: 1001;
	color: #FFFFFF;
	transition: all .5s;
	background-color: #DA1757;
	border: 0;
	cursor: pointer;
	opacity: .8;
}

.scrollToTop:hover{
	background-color: #FFFFFF;
	text-decoration: none;
	outline: none;
	color: #DA1757;
	border: 1px solid #DA1757;
	opacity: 1;
}

/***********Header***********/
.main-header{
	background: url(../img/main1.jpg) center no-repeat;
	background-size: cover;
	height: 100vh;
	min-height: 700px;
	position: relative;
}

.main-header .navbar-toggler{
	color: #FFFFFF;
}

.main-header .navbar-brand,
.main-header ul li a{
	color: #FFFFFF;
	font-weight: 600;
}

.main-header .navbar-brand{
	font-size: 41px;
}

.main-header ul li a{
	font-size: 17px;
}

.main-header ul li a::after{
	content: '';
	display: block;
	width: 100%;
	background-color: #FFFFFF;
	height: 1px;
	transform: scale(0);
	transition: .3s;
}

.main-header ul li a:hover::after{
	transform: scale(1);
}

.main-header-text{
	position: absolute;
	top: 25%;
	left: 5%;
	max-width: 600px;
	color: #FFFFFF;
	padding: 20px;
}

.main-header-buttons{
	padding-left: 30px;
}

.btn{
	font-size: 15px;
	font-weight: 600;
	color: #FFFFFF;
	text-transform: uppercase;
}

.main-header-buttons .btn{
	height: 60px;
	padding: 0 40px;
	margin-right: 20px;
	margin-top: 30px;
	opacity: .8;
	box-shadow: 0 4px 16px rgba(0,0,0,.35);
	transition: all .3s;
}

.main-header-buttons .btn:hover{
	color: #FFFFFF;
	opacity: 1;
}

.btn-pink{
	background-color: #F42267;
}

.btn-violet{
	background-color: #69328E;
}

/***********section-watch***********/
.section-watch{
	background: url(../img/world_map.png) center no-repeat;
	background-size: cover;
}

.section-watch h3,
.section-watch h4{
	color: #484848;
}

.section-tabs .nav-pills{
	margin-bottom: 20px;
}

.section-tabs .nav-pills .nav-link{
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 14px 30px;
	color: #484848;
}

.section-tabs .nav-pills .nav-item .nav-link.active{
	background-color: #F42267;
	color: #FFFFFF;
	box-shadow: 0 4px 16px rgba(0,0,0,.35);
}

.btn-shadow{
	box-shadow: 0 10px 0 #FF5990;
	border-radius: 10px;
	padding: 10px 25px;
	transition: all .5s;
}

.btn-shadow:hover{
	box-shadow: 0 5px 0 #FF5990;
	color: #FFFFFF;
	background-color: #DA1757;
}

/***********section-progress***********/
.section-progress{
	background-color: #4B2D7F;
	color: #FFFFFF;
	font-size: 15px;
	padding: 0;
}

.section-progress i{
	font-size: 70px;
}

.section-progress .num{
	font-size: 50px;
	font-weight: 600;
	margin: 30px 0 20px;
}

.section-progress h4{
	font-size: 30px;
	height: 72px;
	overflow: hidden;
}

.section-progress .progress-item{
	padding-top: 80px;
	padding-bottom: 80px;
	transition: all .5s;
}

.section-progress .progress-item:hover{
	background-color: #40286A;
}

/***********section-lets***********/
.section-lets{
	background: url(../img/letsgrow.jpg) center no-repeat;
	background-size: cover;
	color: #FFFFFF;
}

.section-lets-text{
	margin: 0 150px;
}

/***********section-design***********/
.section-design h3,
.section-design h4{
	color: #484848;
}

.section-design h3{
	font-size: 33px;
}

.section-design span i{
	font-size: 60px;
	background: linear-gradient(45deg, rgba(255,0,32,.7) 0%,rgba(68,26,130,.8) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding-left: 15px;
}

.section-design h2{
	font-size: 25px;
	font-weight: 600;
	color: #484848;
	margin: 10px 0;
}

.section-design p{
	font-size: 14px;
}

.section-design .embed-responsive{
	position: relative;
	border-radius: 10px;
}

#videoPlayBtn{
	width: 100%;
	height: 100%;
	z-index: 1000;
	position: absolute;
	top: 0;
	cursor: pointer;
	background: url(../img/play.png) center no-repeat;
}

/***********section-work***********/
.section-work{
	background-color: #F1F1F1;
}

.section-work h4,
.section-work p{
	color: #333333;
}

.section-work .nav-pills{
	margin: 10px 0 50px;
}

.section-work .gallery-item{
	margin-bottom: 20px;
}

.section-work .gallery a img{
	transition: all .5s;
}

.section-work .gallery a:hover img{
	box-shadow: 0 14px 30px -15px rgba(0,0,0,.75);
}

/***********section-logo***********/
.section-logo{
	background-color: #4B2D7F;
	padding-bottom: 70px;

}

.section-logo .logo-item{
	margin-bottom: 40px;
}

/***********section-reviews***********/
.section-reviews{
	background: url(../img/reviews_bg.jpg) center no-repeat;
	background-size: cover;
	padding-top: 20px;
	padding-bottom: 0;
}

.section-reviews .carousel-caption{
	top: 5%;
	bottom: auto;
	text-align: left;
}

.section-reviews .blockquote{
	font-style: italic;
	font-weight: 500;
	font-size: 22px;
	position: relative;
	padding-left: 40px;
	margin-top: 70px;
}

.section-reviews .blockquote::before{
	content: '\201C';	
	float: left;
	font-size: 150px;
	font-weight: 500;
	font-style: italic;
	color: #F42267;
	position: absolute;
	top: -80px;
	left: -33px;
}

/***********section-form***********/
.section-form{
	background: url(../img/form_bg.jpg) center no-repeat;
	background-size: cover;
	color: #FFFFFF;
	padding-top: 70px;
}

.section-form h5{
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 20px;
}

.section-form h4{
	margin-bottom: 10px;
}

.section-form form{
	margin-top: 50px;
}

.section-form .btn-violet{
	background-color: #4B2D7F;
}

.section-form .btn-violet.btn-shadow{
	box-shadow: 0 7px 0 #A57EE9;
}

.section-form .btn-violet.btn-shadow:hover{
	background-color: #3A2362;
	box-shadow: 0 5px 0 #A57EE9;
}

.section-form .form-control{
	height: 51px;
	background-color: rgba(255,255,255,.35);
	color: #FFFFFF;
	border: 0;
	padding-left: 40px;
	padding-right: 40px;
}

.section-form .form-control::placeholder{
	color: #FFFFFF;
}

.section-form .form-control:focus{
	box-shadow: 0 0 0 .2rem rgba(255,255,255,.25);
}

/***********section-referal***********/
.section-referal{
	background-color: #4B2D7F;
	color: #FFFFFF;
	padding-bottom: 70px;
}

.section-referal .logo{
	font-size: 40px;
	margin-bottom: 10px;
}

.section-referal a{
	color: #FFFFFF;
	font-size: 25px;
}

/***********footer***********/
.footer{
	background: url(../img/world_map.png) center no-repeat;
	background-size: cover;
	padding: 100px 0;
	font-family: 'Poppins', sans-serif;
}

.footer h5{
	font-size: 25px;
	color: #4B2D7F;
	font-weight: 700;
}

.footer ul{
	list-style: none;
	padding-left: 10px;
}

.footer ul li a{
	font-size: 15px;
	font-weight: 600;
	color: #171717;
}

.footer .footer-images img{
	margin-bottom: 20px;
	border-radius: 15px;
}

/***********copyright***********/
.copyright{
	background-color: #F6F6F6;
	padding: 50px 0;
	font-family: 'Poppins', sans-serif;
}

.copyright li a,
.copyright li span{
	color: #171717;
	font-size: 18px;
	font-weight: 600;
	position: relative;
}

.copyright li a:hover{
	text-decoration: underline;
}

.copyright li a::after,
.copyright li span::after{
	content: '\00B7';
	position: absolute;
	right: -3px;
}

.copyright li:last-child a::after,
.copyright li:last-child span::after{
	content: '';
}

/***********section-content**********/
.section-content{
	padding: 40px 0;
}

.section-content .article-preview{
	border: 1px solid #CCCCCC;
	padding: 20px;
	transition: all .5s;
	margin-bottom: 30px;
}

.section-content .article-preview:hover{
	box-shadow: 0 14px 30px -15px rgba(0,0,0,.75);
}

.section-content .article-preview h2{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 0;
}

.section-content .article-preview a{
	color: #484848;
	transition: all .5s;
}

.section-content .article-preview a:hover{
	color: #F42267;
	text-decoration: none;
}

.section-content .article-date{
	color: #DA1757;
	font-size: 13px;
	font-weight: 600;
}

.section-content .thumb{
	border: 5px solid #FFFFFF;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	margin: 0 20px 20px 0;
	float: left;
}

.section-content .article-preview .more{
	color: #DA1757;
}

.section-content .article-preview .more:hover{
	text-decoration: underline;
}

.widget-categories ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

.widget-categories ul li::before{
	content: '\f138';
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	color: #da1757;
	font-size: 16px;
}

.widget-categories ul li a{
	padding-left: 10px;
	font-size: 16px;
	color: #2F2F2F;
	margin-bottom: 10px;
	display: inline-block;
	transition: all .5s;
}

.widget-categories ul li a:hover{
	color: #DA1757;
}

.widget-title{
	color: #484848;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 25px;
	position: relative;
}

.widget-title::after{
	content: '';
	height: 2px;
	position: absolute;
	left: 0;
	top: 30px;
	width: 115px;
	background-color: #DA1757;
}

/***********pagination**********/
.page-link{
	color: #DA1757;
	transition: all .5s;
	padding-left: 1rem;
	padding-right: 1rem;
}

.page-link:hover{
	background-color: #DA1757;
	color: #FFFFFF;
	border-color: #F42267;
}

.page-item.active .page-link{
	background-color: #DA1757;
	border-color: #DA1757;
}

/***********Медиа стили***********/
@media only screen and (max-width: 992px) {
	.main-header-text{
		background-color: rgba(0,0,0,.3);
	}

	section,
	.section-logo,
	.section-form,
	.section-referal,
	.footer{
		padding: 50px 0;
	}

	.copyright{
		padding: 25px 0;
	}

	.section-reviews h3,
	.section-reviews h4{
		font-size: 25px;
	}

	.section-reviews .blockquote{
		font-size: 17px;
		padding-left: 20px;
		margin-top: 40px;
	}

	.section-reviews .blockquote::before{
		font-size: 100px;
		top: -40px;
	}
}

@media only screen and (max-width: 991px) {
	.main-header .navbar-nav{
		background: linear-gradient(45deg, #ed1b33 0%,#442e82 100%);
		position: relative;
		z-index: 1;
		padding: 0 15px;
	}

	.section-lets-text{
		margin: 0;
	}

	.section-logo{
		padding-bottom: 20px;
	}
}

@media only screen and (max-width: 768px) {
	.main-header-text{
		left: 0;
		margin: 0 20px;
		background-color: rgba(0,0,0,.3);
	}

	h3, h4{
		font-size: 30px;
	}

	.section-progress .progress-item{
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

@media only screen and (max-width: 767px) {
	.section-form .form-control{
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 600px) {
	.main-header-text{
		top: 90px;
	}

	.main-header-buttons .btn{
		display: block;
		width: 100%;
		margin-bottom: 15px;
	}

	.main-header-buttons .btn:last-child{
		margin-top: 0;
	}

	.btn-shadow{
		box-shadow: 0 5px 0 #FF5990;
		padding: 10px 15px;
	}
}

@media only screen and (max-width: 576px) {
	.section-reviews .carousel-caption{
		position: static;
		width: 70%;
		margin: auto;
	}
}

@media only screen and (max-width: 480px) {
	.section-tabs .nav-pills .nav-link{
		padding: 8px 16px;
	}

	.section-tabs .nav-pills .nav-item{
		width: 100%;
	}

	.section-content .thumb{
		float: none;
		width: 100%;
	}
}

@media only screen and (max-width: 473px) {
	.copyright li:first-child a::after,
	.copyright li:first-child span::after{
		content: '';
	}
}

@media only screen and (max-width: 380px) {
	.main-header .navbar-brand{
		font-size: 30px;
	}
}

